.card-container {
  display: flex;
  justify-content: space-around;
}

.card-img img:hover {
  transform: scale(1) rotate(0.5deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0.5);
}

.size {
  display: flex;
  justify-content: space-between;
}

.size-btn {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 1px solid #e6e6e6;
}

.cart-btn {
  margin-top: 10px;
  border-radius: 5px;
}

.btn {
  background: #ffd814;
}
